/*
Adição e dimencionamento do logo
*/
div #logo{
    width:150px;
    height:135px;
    background-image: url(../../img/logo.png);
    background-size:100% 100%;
    margin-right: 50px;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -khtml-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
}

.img-contatos{
    margin: 30px 0px 15px;
    height: 100px;
    width: 300px;
    background-color: #000;
}

div #previsao{
    width:100px;
    height:85px;
    margin-top: 30px;
    background-image: url(../../img/previsao_tempo.png);
    background-size:100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -khtml-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
}

.navigation {
    background-color: #000f3a;
    z-index: 15;
}

.top-search{
    margin-top: 40px;
}

.cat-icon {
    background-color: rgb(4, 78, 23);
}

div .info-datahora, div .info-datahora>p>a{
    margin-top: 90px;
    color: #b9b9b9;
    font-family: 'Montserrat', sans-serif;
}

div #hora{
    padding-left: 0px;
}

div #data>p{
    padding-left: 35px;
}

/*
Mudando as cores do menu
*/
.megamenu-parent li>a {
    color: #fff;
}

/*
 Resumo da notícia na página simples
*/
div.resumo-noticia{
    border-top: solid 1px #e9eaed;
    padding: 25px 0 0 0;
}

div.resumo-noticia>p{
    text-align: center;
    color: #a9a9a9;
}

/*Conteúdo do texto, página simples*/
.entry-summary p {
    margin-top: 20px;
}

img {
    width: auto;
    height: auto;
}

.noticia>img {
    width: 100%;
    height: 253px;
}

.content-single>img {
    width: 100%;
    max-width: 450px;
}

.patrocinio-lateral>img {
    width: 100%;
    height: 100%;
    max-height: 262px;
    max-height: 235px;
}

.patrocinio-topo{
    margin-top: 10px;
}

.media-left img{
    width: 130px;
    height: auto;
}


/*Estilos para a nova versão do wol-slide*/
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
    font-family: 'fontAwesome';
    display: inline-block;

}
.owl-carousel .owl-nav .owl-prev:before{
    content: "\f053";
    margin-right:10px;
}
.owl-carousel .owl-nav .owl-next:after{
    content: "\f054";
    margin-right:10px;
}

footer .footer-wrapper >.container {
    background-color: #555;
}

.menu-rodape{
    margin-left: 60px;
}

/*Imagens colocadas pelo usuário no post */
img.size-full{
    width: 100%;
    height: auto;
}
